@model Model.EF.Customer
@using BabyShop.Common;
@using Model.Dao;
@{
    var dao = new CustomerDao();
    var session = (UserLogin)Session[BabyShop.Common.Constants.USER_SESSION];  
    var res = dao.ViewDetail(session.UserID);
    ViewBag.Title = "Thông tin người dùng " + res.UserName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section category{
    @{Html.RenderAction("Category", "Home");}
}

<div class="account_grid">
    <div class="login-right">
        <h3>Thông tin tài khoản</h3>
        <div>
            <label>Tài khoản:</label>
            @res.UserName
        </div> 
        <div>
            <label>Tên:</label>
            @res.Name
        </div> 
        <div>
            <label>Địa chỉ:</label>
            @res.Address
        </div>
        <div>
            <label>Email:</label>
            @res.Email
        </div> 
        <div>
            <label>Điện thoại:</label>
            @res.Phone
        </div>       
        <p>
            <a class="acount-btn" href="/cap-nhat-thong-tin">Cập nhật</a>
            <a class="acount-btn" href="/doi-mat-khau">Đổi mật khẩu</a>    
        </p>
    </div>   
    <div class="clearfix"> </div>
</div>