@model IEnumerable<Model.EF.Product>

@{
    var category = (Model.EF.ProductCategory)ViewBag.Category;
    ViewBag.Title = category.Name;
    ViewBag.Keywords = category.Metakeyword;
    ViewBag.Descriptions = category.Description;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section category{
    @{Html.RenderAction("Category", "Home");}
}

@section tophot{
    @{Html.RenderAction("TopHot", "Home");}
}

<div class="women-product">
    @if (Model.Count() > 0)
    {
        <div class="w_content">
            <div class="women">
                <a href="/san-pham/@category.MetaTitle-@category.ID"><h4>@category.Name - <span>@ViewBag.TotalCount sản phẩm</span> </h4></a>
                <ul class="w_nav">
                    <li>Sắp xếp: </li>
                    <li><a class="active" href="?page=@ViewBag.Page&sort=hot">Nỗi bật</a></li> |
                    <li><a href="?page=@ViewBag.Page&sort=price">Giá &uarr;</a></li> |
                    <li><a href="?page=@ViewBag.Page&sort=price_desc">Giá &darr;</a></li> |
                    <li><a href="?page=@ViewBag.Page&sort=name">Tên A&rarr;Z</a></li> |
                    <li><a href="?page=@ViewBag.Page&sort=name_desc">Tên Z&rarr;A</a></li> |
                    <li><a href="?page=@ViewBag.Page&sort=new_desc">Mới nhất</a></li> |
                    <li><a href="?page=@ViewBag.Page&sort=new">Cũ nhất</a></li> |
                    <li><a href="?page=@ViewBag.Page&sort=popular">Bán chạy</a></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="grid-product">
            @foreach (var product in Model)
            {
                var url = "/chi-tiet/" + product.Metatitle + "-" + product.ID;
                <div class="product-grid">
                    <div class="content_box">
                        <a href="@url">
                            <div class="left-grid-view grid-view-left">
                                <img src="@product.Image" class="img-responsive watch-right" alt="@product.Name" />
                                <div class="mask">
                                    <div class="info">Xem nhanh</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <h4><a href="@url">@product.Name</a></h4>
                    <p>@product.Description</p>
                    @if (product.PromotionPrice.HasValue)
                    {
                        <span class="actual">@product.PromotionPrice.Value.ToString("N0")₫</span>
                        <span class="reducedfrom">@product.Price.ToString("N0")₫</span>
                    }
                    else
                    {
                        <span class="actual">@product.Price.ToString("N0")₫</span>
                    }

                </div>
            }
            <div class="clearfix"> </div>
            @if (ViewBag.TotalPage > 1)
            {
                var pageDisplay = (int)ViewBag.MaxPage;
                int totalPage = (int)ViewBag.TotalPage;
                int currentPage = ((int)ViewBag.Page);

                // Create numeric links
                var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                <nav>
                    <ul class="pagination">
                        @if (currentPage > 1)
                        {
                            <li>
                                <a href="?page=1" aria-label="First">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <li>
                                <a href="?page=@(currentPage-1)&sort=@ViewBag.Sort" aria-label="Previous">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                        }

                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (currentPage == i)
                            {
                                <li class="active"><a href="?page=@i" title="Trang @i">@i</a></li>
                            }
                            else
                            {
                                <li><a href="?page=@i&sort=@ViewBag.Sort" title="Trang @i">@i</a></li>
                            }
                        }
                        @if (currentPage < totalPage)
                        {
                            <li>
                                <a href="?page=@(currentPage+1)&sort=@ViewBag.Sort" aria-label="Next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="?page=@totalPage&sort=@ViewBag.Sort" aria-label="Last">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            }
        </div>
    }
    else
    {
        <br />
        <div class="text-center">Không có bản ghi nào được tìm thấy.</div>
    }
</div>
