@model Model.EF.Order

@{
    ViewBag.Title = "Trang chi tiết chi tiết hóa đơn " + Model.ID;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Chi tiết
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Thông tin chi tiết.
            </div>
            <div class="panel-body">
                <div class="row">
                    <dl class="dl-horizontal">
                        <dt>
                            ID
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ID)
                        </dd>
                        <dt>
                            Tên khách hàng
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CustomerName)
                        </dd>

                        <dt>
                            Địa chỉ
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CustomerAddress)
                        </dd>

                        <dt>
                            Email
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CustomerEmail)
                        </dd>

                        <dt>
                            Điện thoại
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CustomerMobile)
                        </dd>

                        <dt>
                            Lời nhắn
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CustomerMessage)
                        </dd>

                        <dt>
                            Ngày tạo
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>

                        <dt>
                            Trạng thái
                        </dt>

                        <dd>
                            @Html.Raw(Model.Status ? "Kích hoạt" : "Khoá")
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
