@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listSlide = (List<Model.EF.Slide>)ViewBag.ListSlide;
    var newProduct = (List<Model.EF.Product>)ViewBag.NewProduct;
    var hotProduct = (List<Model.EF.Product>)ViewBag.HotProduct;
    var promotionProduct = (List<Model.EF.Product>)ViewBag.PromotionProduct;
}
@section footerJs{
    <script src="/Assets/client/js/jquery.wmuSlider.js"></script>
    <script>
        $('.example1').wmuSlider();
    </script>
}
@section category{
    @{Html.RenderAction("Category", "Home");}
}

@section tophot{
    @{Html.RenderAction("TopHot", "Home");}
}


<div class="shoes-grid">
    <!--banner-->
    <div class="wrap-in">
        <div class="wmuSlider example1 slide-grid">
            <div class="wmuSliderWrapper">
                @foreach (var item in listSlide)
                {
                    <article style="position: absolute; width: 100%; opacity: 0;">
                        <div class="banner-matter">
                            <a href="/san-pham/@item.Link">
                                <img class="img-responsive " src="@item.URL" alt="@item.Name" />
                            </a>
                            <div class="clearfix"> </div>
                        </div>

                    </article>
                }
            </div>
            <ul class="wmuSliderPagination">
                @for (int i = 0; i < listSlide.Count(); i++)
                {
                    <li><a href="#" class="">i</a></li>
                }
            </ul>
        </div>
    </div>
    <!--End banner-->
    <!--Sản phẩm mới-->
    <div class="products">
        <h5 class="latest-product">Sản phẩm mới về</h5>
        <a class="view-all" href="/san-pham">Xem tất cả<span> </span></a>
    </div>
    <div class="product-left">
        @foreach (var product in newProduct)
        {
            var url = "/chi-tiet/" + product.Metatitle + "-" + product.ID;
            <div class="col-md-4 chain-grid">
                <a href="@url"><img class="img-responsive chain" src="@product.Image" /></a>
                <span class="star"> </span>
                <div class="grid-chain-bottom">
                    <h6><a href="@url">@product.Name</a></h6>
                    <div class="star-price">
                        <div class="dolor-grid">
                            <span class="actual">@product.Price.ToString("N0")₫</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        }

        <div class="clearfix"> </div>
    </div>
    <!--End NewProduct-->
    <!--Sản phẩm bán chạy-->
    <div class="products">
        <h5 class="latest-product">Sản phẩm bán chạy</h5>
        <a class="view-all" href="/san-pham-ban-chay">Xem tất cả<span> </span></a>
    </div>
    <div class="product-left">
        @foreach (var product in hotProduct)
        {
            var url = "/chi-tiet/" + product.Metatitle + "-" + product.ID;
            <div class="col-md-4 chain-grid">
                <a href="@url"><img class="img-responsive chain" src="@product.Image" /></a>
                <div class="grid-chain-bottom">
                    <h6><a href="@url">@product.Name</a></h6>
                    <div class="star-price">
                        <div class="dolor-grid">
                            <span class="actual">@product.Price.ToString("N0")₫</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        }
        <div class="clearfix"> </div>
    </div>
    <!--End HotProduct-->
    <!--Sản phẩm khuyến mãi-->
    <div class="products">
        <h5 class="latest-product">Sản phẩm khuyến mãi</h5>
        <a class="view-all" href="/san-pham-khuyen-mai">Xem tất cả<span> </span></a>
    </div>
    <div class="product-left">
        @foreach (var product in promotionProduct)
        {
            var url = "/chi-tiet/" + product.Metatitle + "-" + product.ID;
            <div class="col-md-4 chain-grid">
                <a href="@url"><img class="img-responsive chain" src="@product.Image" /></a>
                <span class="starsale"> </span>
                <div class="grid-chain-bottom">
                    <h6><a href="@url">@product.Name</a></h6>
                    <div class="star-price">
                        <div class="dolor-grid">
                            <span class="actual">@product.PromotionPrice.Value.ToString("N0")₫</span>
                            <span class="reducedfrom">@product.Price.ToString("N0")₫</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        }
        <div class="clearfix"> </div>
    </div>
    <!--End PromotionProduct-->
</div>
