<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="vi" xml:lang="vi" xmlns:fb='http://www.facebook.com/2008/fbml'>
<head>
    <meta property="fb:admins" content="YOUR_FACEBOOK_USER_ID" />
    <meta property="fb:app_id" content="316514802027139" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Descriptions" />
    <link href="/Assets/client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Assets/client/css/boostrap-social.css" rel="stylesheet" />
    <link href="/Assets/client/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet" />
    <link href="/Assets/client/css/jquery-ui.css" rel="stylesheet" />
    <!--theme-style-->
    <link href="/Assets/client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/client/css/custom.css" rel="stylesheet" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <script src="/Assets/client/js/jquery.min.js"></script>
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.7&appId=316514802027139";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!--header-->
    @{Html.RenderAction("Header", "Home");}
    <!---->
    <div class="container">
        @RenderBody()
        <div class="sub-cate">
            @RenderSection("category", required: false)
            @RenderSection("tophot", required: false)
        </div>
    </div>
    <!---->
    @{ Html.RenderAction("Footer", "Home");}
    <div class="clearfix"></div>
    <script src="/Assets/client/js/jquery-ui.js"></script>
    <script src="/Assets/client/js/jquery.validate.js"></script>
    <script src="/Assets/client/js/additional-methods.min.js"></script>
    <script src="/Assets/client/js/common.js"></script>
    @RenderSection("footerJS", required: false)
</body>
</html>